# A default .gitignore for Create Go App project.

_tmp
deploy/influxdb
deploy/telegraf
# macOS
**/.DS_store
.idea
# Go builds
**/app/
**/build/
ke/**/*
.fleet/
# Temporary files
tmp/

# Node.js dependencies
**/node_modules/

# Files
hosts.ini
*.out
go.work.sum
pkg/sumdb
pkg/mod
